<div class="modal" ng-class="{'is-active': main.showLoginModal }">
  <div class="modal-background"></div>
  <div class="modal-content">
    <form ng-submit="vm.submitForm()">
      <label class="label">LOGIN</label>
      <div class="field">
        <label class="label">Email</label>
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="email" placeholder="Email" ng-model="vm.user.email">
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fa fa-check"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <p class="control has-icons-left">
          <input class="input" type="password" placeholder="Password" ng-model="vm.user.password">
          <span class="icon is-small is-left">
            <i class="fa fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button class="button is-success" type="submit">
            Login
          </button>
        </p>
      </div>
    </form>
  </div>
  <button class="modal-close is-large" aria-label="close" ng-click="main.showLoginModal = !main.showLoginModal"></button>
</div>
