<div class="tile is-parent">
  <div class="tile is-child is-3"></div>
  <div class="tile is-child is-6">
    <article class="tile is-child notification is-dark">
      <p class="title is-centered">Happy Cabby</p>
      <div class="content">
        Happy Cabby is an app to help taxi drivers find the busiest events going on around them. <br></br>So they know which spots will be busiest to pick up fares. <br></br> Please log in or register below to access the app.
      </div>
      <div class="homeButtons">
        <a class="button is-light" ng-if="!main.user" ui-sref="login" ng-click="main.showLoginModal = !main.showLoginModal">Login</a>
        <a class="button is-light" ng-if="!main.user" ui-sref="register" ng-click="main.showRegisterModal = !main.showRegisterModal">Register</a>
      </div>
    </article>
    <div class="tile is-child is-3"></div>
  </div>
  <div class="homeBackground"></div>
</div>
