<div class="modal" ng-class="{'is-active': users.showProfileModal }">
  <div class="modal-background"></div>
  <div class="modal-content">
    <form ng-submit="vm.submit()">
      <label class="label">PROFILE</label>
        <label class="label">Image</label>

        <button type="button" name="image" id="image" ng-model="vm.user.image" ng-click="vm.pickFile($event)">Pick Image</button>
        <img ng-if="vm.user.image" ng-src="{{ vm.user.image }}">
      <div class="field">
        <label class="label">Uername</label>
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="text" ng-model="vm.user.username">
          <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <label class="label">Email</label>
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="email" ng-model="vm.user.email">
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
        </p>
      </div>
      <div class="field is-grouped">
        <p class="control">
          <input type="submit" class="button is-block is-light" value="Update">
        </p>
        <p class="control">
          <a class="button is-block is-light" ui-sref="usersShow({ id: vm.user.id})">
            Cancel
          </a>
        </p>
      </div>
    </form>
  </div>
  <button class="modal-close is-large" aria-label="close" ng-click="users.showProfileModal = !users.showProfileModal" ui-sref="map"></button>
</div>
