<div class="modal" ng-class="{'is-active': users.showProfileModal }">
  <div class="modal-background"></div>
  <div class="modal-content">
    <form>
      <label class="label">PROFILE</label>
      <img class="avatar" ng-src="{{vm.user.image}}">
      <div class="field">
        <label class="label">Username</label>
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="text" value="{{vm.user.username}}" readonly>
          <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <label class="label">Email</label>
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="email" value="{{vm.user.email}}" readonly>
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
        </p>
      </div>
      <div class="field is-grouped">
        <p class="control">
          <a class="button is-block is-light" ui-sref="edit({ id: vm.user.id })">
            Edit Account
          </a>
        </p>
        <p class="control">
          <a class="button is-block is-light" ng-click="vm.delete(vm.user)" ui-sref="home">
            Delete Account
          </a>
        </p>
        <p class="control">
          <a class="button is-block is-light" type="submit" ui-sref="map">
            Go Back
          </a>
        </p>
        <p class="control">
          <a class="button is-block is-light" ui-sref="home" ng-if="main.user" ng-submit="main.logout()">
            Logout
          </a>
        </p>
      </div>
    </form>
  </div>
  <button class="modal-close is-large" aria-label="close" ng-click="users.showProfileModal = !users.showProfileModal" ui-sref="map"></button>
</div>
