<div ng-controller="venuesShow as vm">
  <div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
      <div class="tile is-child box">
        <p class="title">Venue Name</p>
        <p>
          {{vm.venueName}}
        </p>
        <p>
          {{vm.venueAddress}}
          {{vm.venueRegion}}
          {{vm.venuePostCode}}
        </p>
      </div>
      <div class="tile is-child box">
        <p class="title">Venue Image</p>
        <p><img ng-src="{{vm.venueImg}}"></p>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child box">
        <p class="title">Venue Location</p>
        <div id="mini-map">
          <google-map-show id= "map" center="vm.latLng"></google-map-show>
        </div>
      </div>
    </div>
  </div>

  <div class="tile is-ancestor">
    <div class="tile is-12 is-vertical is-parent">
      <div class="tile is-child box">
        <p class="title">Comments</p>
        <div class="content">
          <div class="container">
            <ul>
              <li class="column" ng-repeat="comment in vm.comments">
                <!-- <p>Username: {{ comment.createdBy.username }}</p> -->
                <div class ="nav-img" style="background-image: url('{{ comment.createdBy.image }}');"></div>
                <h4>{{ comment.body }}</h4>
                <ng-rate-it read-only="true" resetable="false" ng-model="test.rateit"></ng-rate-it>
                <p><em>By: {{ comment.createdBy.username }} on {{ comment.createdAt | date : format : timezone}}</em></p>
                <button class="button is-danger is-outlined" ng-click="vm.commentDelete(comment)" ng-if="main.user.id === comment.createdBy.id">Delete</button>
              </li>
            </ul>
            <form ng-submit="vm.commentCreate()">
              <div class="field">
                <label class="label">Leave a comment</label>
                <div class="control">
                  <textarea class="textarea" placeholder="your comment..." ng-model="vm.comment.body"></textarea>
                  <br>
                  <label class="label">Star Rating</label>
                  <div class="control"><ng-rate-it resetable="true"ng-model="test.rateit"></ng-rate-it></div>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <button class="button is-block is-light">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
