<google-map-show ng-if="vm.latLng" center="vm.latLng"></google-map-show>
<div class="columns is-desktop">
  <div class="column is-half-desktop">
    <google-map-show ng-if="vm.latLng" id= "pano" center="vm.latLng" class="streetview"></google-map-show>
  </div>
  <div class="column is-half-desktop info-comments">
    <h1 class="title">Venue Info</h1>
    <h3><strong>Name:</strong> {{vm.venueName}}</h3>
    <h3><strong>Address:</strong> {{vm.venueAddress}}, <br>{{vm.venueRegion}}, {{vm.venueCity}}, {{vm.venuePostCode}}, {{vm.venueCountry}}</h3>
    <br></br>
    <h2 class="title">Comments</h2>
    <div class="container existingComments">
      <ul>
        <li class="column" ng-repeat="comment in vm.comments">
          <!-- <div class ="nav-img" style="background-image: url('{{ comment.createdBy.image }}');"></div> -->
          <h4>{{ comment.body }}</h4>
          <ng-rate-it read-only="true" resetable="false" ng-model="comment.rating"></ng-rate-it>
          <p><em>By: {{ comment.createdBy.username }} on {{ comment.createdAt | date : format : timezone}}</em></p>
          <button class="button is-danger is-outlined" ng-click="vm.commentDelete(comment)" ng-if="main.user.id === comment.createdBy.id">Delete</button>
        </li>
      </ul>
      <form class="commentInputForm" ng-submit="vm.commentCreate()">
        <textarea id="commentBox" class="textarea" placeholder="Leave your comment..." ng-model="vm.comment.body"></textarea>

        <div class="control">
          <ng-rate-it resetable="false" ng-model="vm.comment.rating"></ng-rate-it>
        </div>

        <button class="button is-block is-light">Submit</button>
      </div>
    </form>
  </div>
</div>
