<!DOCTYPE html>
<html ng-app="wdi-project-3" ng-strict-di>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WDI Project 3</title>
  <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvry2B6tsoT6Tr-7QwRyH21aqCBLif4c4&libraries=places"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <script src="angular-rateit/dist/ng-rateit.js"></script> -->
  <base href="/">
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="mainCtrl as main" >
  <nav class="navbar is-light">
    <div class="navbar-brand">
      <a class="navbar-item" ng-if="!main.user" ui-sref="home"><i class="fa fa-taxi fa-2x" aria-hidden="true"></i></a>
      <a class="navbar-item" ng-if="main.user" ui-sref="map"><i class="fa fa-taxi fa-2x" aria-hidden="true"></i></a>
      <a class="navbar-item float-right" ng-if="main.user"  ui-sref="home" ng-click="main.logout()"><img src="/images/logout.png" alt="Logout"></a>

    </div>

  </nav>
  <div ng-show="main.message" class="my-message notification is-{{ main.messageType }}" role="alert">
    {{ main.message }}
  </div>
  <main ui-view></main>
</body>
</html>
