<!DOCTYPE html>
<html ng-app="wdi-project-3">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WDI Project 3</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvry2B6tsoT6Tr-7QwRyH21aqCBLif4c4&callback=initMap"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
  <script src="https://www.skiddle.com/api/v1/events/search/?api_key=5f672bea4d616563d430e9436703e9b9&latitude=51.507602&longitude=-0.127816&radius=5"></script>
  <base href="/">
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="mainCtrl as main">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" ui-sref="home">App Name</a>
    <div class="navbar-burger burger" class="is-active" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" ng-if="!main.user" ui-sref="login" ng-click="main.showLoginModal = !main.showLoginModal">Login</a>
      <a class="navbar-item" ng-if="!main.user" ui-sref="register" ng-click="main.showRegisterModal = !main.showRegisterModal">Register</a>
      <a class="navbar-item" ng-if="main.user" href="#" ng-click="main.logout()">Logout</a>
      <div class="navbar-item has-dropdown is-hoverable" ng-if="main.user">
        <a class="navbar-link" href="">
          Burger Menu Icon
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" ui-sref="profile">
            Profile
          </a>
          <a class="navbar-item" href="" ng-click="main.logout()">
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<main ui-view></main>
</body>
</html>
