@import 'map-page';
@import 'landing-page';
@import 'loading-bar';
@import 'venue-show';
@import 'profile-register';

// $gap: 3000px;


.label {
  color: white;
  font-weight: bold;
}

.columns {
  margin-top: 20px;
}

.my-message {
  z-index: 9999;
}
