@import 'map-page';
@import 'landing-page';
@import 'loading-bar';


$gap: 3000px;

.google-map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: 0.5s;
}

#mini-map {
  position: relative;
  height: 500px;
  width: 500px;
  z-index: 1;
}

.label {
  color: white;
  font-weight: bold;
}

.avatar {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;

}

.avatar img {
  width: 100%;
  height: auto;
}

.avatar-small {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.avatar-small img {
  width: 100%;
  height: auto;
}

.profile-image {
  display: flex;
  justify-content: center;
}

.profile-text {
  margin-left: -20px;
}

.ngrateit-star{
    display: block;
    float: left;
    overflow: hidden;
    background-repeat: repeat-x;
    // background-image: url("../images/taximan.png");
    background-size: 15px;
}

// /* Background */
//     .custom .ngrateit-bg-star{
//         background-image: url("bg-car.svg");
//     }
//     /* Selected state */
//     .custom .ngrateit-selected {
//         background-image: url("rated-car.svg");
//     }
//     /* Cancelation of hover styling */
//     .custom.ngrateit:not(.ngrateit-readonly) .ngrateit-rating span:hover ~ span {
//         background-image: url("bg-car.svg");
//     }
//     /* Hover styling */
//     .custom.ngrateit:not(.ngrateit-readonly) .ngrateit-rating:hover span {
//         background-image: url("hover-car.svg");
//     }
